page-home {
  .card-md {
    width: 100%;
    padding: 15px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(0,0,0,0.15);
    border-radius: 10px;
  }

  .content-md {
    left: -10px;
  }

  .col {
    margin-top: -15px;
  }

  ion-grid {
    margin-top: 15%;
  }

  @media screen and (min-width: 768px) {
    .card-md {
        width: 50%;
        padding: 15px;
    }

    .card-left {
        margin-left: 50%;
    }
  }
}
