<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Easy Campus <br /><span style="font-size: 1.4rem; padding:0px">{{institute.name}}</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="morepage()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="green card-left" (click)="opennews()">
          <img src="assets/imgs/news-icon-38.png">
          <h2>News</h2>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="yellow" (click)="openlocations()">
          <img src="assets/imgs/maps-icon-30.png">
          <h2>Directions</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="blue card-left" (click)="openjoints()">
          <img src="assets/imgs/food-icon.png">
          <h2>Food</h2>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="orange" (click)="quickinfo()">
          <img src="assets/imgs/quick-info.png">
          <h2>Quick Info.</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>