<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <h5>Quick Info</h5>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="getTips($event)"></ion-searchbar>
  <ion-refresher (ionRefresh)="onRefresh($event)" [enabled]="cache && !refreshSubscription">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <button ion-item *ngFor="let tip of filteredTips" (click)="getTip({tipId: tip.id})">
      {{ tip.name }}
    </button>
  </ion-list>
</ion-content>
