<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <h5>{{tip.name}}</h5>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="secondary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let item of tip.items">
      <ion-card-header>
        {{item.name}}
      </ion-card-header>
      <ion-card-content>
        <b>Location: </b>{{item.loc}}
      </ion-card-content>
      <ion-item (click)="call(item.contact)">
        {{item.contact}}
        <ion-icon name="call" item-end></ion-icon>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
