<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <h5>About Easy Campus</h5>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="dark" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <p>
        This app was designed and built with the aim of making campus life easy again!
        Focused on providing the key tools needed by students for navigating the sometimes
        hectic world of campus life. Made with <ion-icon name="heart"></ion-icon> by VersiTech. <br>
        Visit us at <a href="https://www.versified.xyz">versified.xyz</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
