<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
        <h5>More</h5>
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-list>
      <button ion-item (click)="landpage()">
         Change Campus
      </button>
      <button ion-item (click)="aboutpage()">
        About Easy Campus
      </button>
      <!-- share button -->
      <button ion-item (click)="shareapp()">
        Share With Friends
      </button>
      <!-- share button -->
      <button ion-item (click)="contact()">
        Give Feedback
      </button> 
    </ion-list>
</ion-content>