<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <h5>{{nam}}</h5>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div #map id="map"></div>

  <ion-footer>
    <ion-toolbar>
      <div #directionsPanel></div>
    </ion-toolbar>
  </ion-footer>
</ion-content>