.ios, .md {
    directions {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
      ion-footer {
        max-height: 200px;
        overflow: scroll;
        position: absolute;
        z-index: 1;
    }

    #floating-panel {
      position: absolute;
      top: 10px;
      right: 5px;
      z-index: 5;
      border: 2px solid #fff;
      border-radius: 3px;
      box-shadow: 0 2px 6px rgba(0,0,0,.3);
      background-color: #fff;
      padding: 5px;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
    }
  }
}