<ion-header>
    <ion-navbar  color="secondary">
      <ion-title>
        <h5>Locations</h5>
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
      <ion-searchbar (ionInput)="getLocations($event)"></ion-searchbar>
      <ion-list>
        <button ion-item *ngFor="let place of filteredLocs" (click)="getDirection(place)">
          {{ place.nam }}
        </button>
      </ion-list>
  </ion-content>
  