<ion-header>
  <ion-navbar color="secondary">
    <ion-title *ngIf="post">
      <h5>Post</h5>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="post" class="post">
    <div class="post-title" [innerHTML]="post.title.rendered"></div>
    <div *ngIf="trustedVideoUrl">
      <iframe
        #iframeVideo width="100%"
        height="315"
        [src]="trustedVideoUrl ? trustedVideoUrl : null"
        (load)="trustedVideoUrl ? handleIFrameLoadEvent() : null"
        frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <p class="post-content" [innerHTML]="post.content.rendered"></p>
    <ion-row>
      <ion-col>
        <ion-icon name='md-calendar'></ion-icon>
        {{post.date.split('T')[0]}}
      </ion-col>
      <ion-col text-right>
        <ion-icon name="person"></ion-icon>
        {{user}}
      </ion-col>
    </ion-row>
    <p class="bold-title">Categories:</p>
    <ion-grid>
      <ion-row>
        <ion-col class="category-col" *ngFor="let category of categories">
          <!-- <ion-badge (click)="goToCategoryPosts(category.id, category.name)">{{category.name}}</ion-badge> -->
          <ion-badge>{{category.name}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
 </div>
</ion-content>
