<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <h5>News</h5>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="posts.length == 0">
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="connection">
          <ion-icon class="no-network-icon" name="wifi"></ion-icon>
          <p style="font-size: 5rem;">No Internet connection</p>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
    <ion-card *ngFor="let post of posts">
      <div *ngIf="post._embedded['wp:featuredmedia']">
        <img src="{{post._embedded['wp:featuredmedia'][0].source_url}}" />
      </div>
      <ion-card-content (click)="postTapped($event, post)">
        <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
        <p [innerHTML]="post.excerpt.rendered"></p>
      </ion-card-content>
      <ion-row no-padding (click)="postTapped($event, post)">
        <ion-col>
          <button ion-button clear small color="secondary" icon-start>
            {{post.date.split('T')[0]}}
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button small color="secondary" icon-start>
            Read More
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts ...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
