<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <h5>{{joint.name}}</h5>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <p>{{joint.slogan}}</p>
    </ion-item>
    <ion-list-header>Hours</ion-list-header>
    <ion-item *ngFor="let item of joint['hours']">
      {{item.days}} from {{item.time}} 
    </ion-item>
    <ion-list-header>Contacts</ion-list-header>
    <ion-item *ngFor="let item of joint['items']" (click)="call(item.num)">
      {{item.num}}
      <ion-icon name={{item.icon}} item-end></ion-icon>
    </ion-item>
    <ion-list-header>Popular Meals</ion-list-header>
    <ion-item *ngFor="let menu of joint['menus']">
      {{menu.title}}
      <ion-icon name={{menu.icon}} item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
