<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Food Joints
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- body -->
<ion-content>
  <ion-searchbar (ionInput)="getJoints($event)"></ion-searchbar>
  <ion-refresher (ionRefresh)="onRefresh($event)" [enabled]="cache && !refreshSubscription">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <button ion-item *ngFor="let joint of filteredJoints" (click)="getJoint({jointId: joint.id})">
      {{ joint.name }}
    </button>
  </ion-list>
</ion-content>
