<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <h5>Choose your institute</h5>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <!--<button ion-item *ngFor="let institute of institutions" (click)="openhome(institute)">
      {{ institute.name }}
      <p>{{ institute.desc }}</p>
    </button>-->
    <ion-item *ngFor="let institute of institutions" (click)="openhome(institute)">
      <ion-avatar item-start>
        <img src="assets/imgs/{{institute.key}}.png">
      </ion-avatar>
      <h3>{{ institute.name }}</h3>
      <p>{{ institute.desc }}</p>
    </ion-item>
  </ion-list>
</ion-content>