page-land {
  .card-md {
    width: 100%;
    padding: 15px;
  }

  .content-md {
    left: -6px;
  }

  .col {
    margin-top: -15px;
  }

  ion-grid {
    margin-top: 15%;
  }
  
  @media screen and (min-width: 768px) {
    .card-md {
        width: 50%;
        padding: 15px;
    }

    .card-left {
        margin-left: 50%;
    }
  }
}
